*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #c7c7ca 0%, #f0b20a 100%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.outer{
    background-image: url(./image/background.jpg);
    background-size:contain;
    position: relative;
    height: 1000px;
    width:1800px;
    border: none;
    top: 4.98vh;
    margin: auto;
    background-repeat:repeat-x;
    box-shadow: 5px 5px 100px grey;
    position: relative;
    overflow: hidden;
}
#bird{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 200px;
    top: 50%;
    z-index: 2;
}
#block1{
    background-image: url(image/block.jpg);
    background-position: center;
    position: relative;
    width:60px;
    height: 100%;
    left: -200px;
    background-size: contain;
}
#block2{
    background-image: url(image/block.jpg);
    background-position: center;
    position: relative;
    width:60px;
    height: 100%;
    left: 1900px;
    background-size: contain;
}
.btn{
    position: absolute;
    width: 4%;
    height: 3%;
    background-color: gray;
    color: white;
    border-radius: 20%;
}
#hole1{
    background-image: url(image/hole.jpg);
    background-position: center;
    position: relative;
    top: 200px;
    height: 220px;
    width: 60px;
    background-size:cover;
    background-repeat: no-repeat;
}
#hole2{
    background-image: url(image/hole.jpg);
    background-position: center;
    position: relative;
    top: 200px;
    height: 220px;
    width: 60px;
    background-size:cover;
    background-repeat: no-repeat;
}
