*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #c7c7ca 0%, #f0b20a 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
.outer{
    background-image: url(./image/background2.jpg);
    background-size:cover;
    position: relative;
    height: 90vh;
    width: 80vw;
    border: none;
    top: 4.98vh;
    margin: auto;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 100px grey;
    position: relative;
    overflow: hidden;
}
#bird{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 200px;
}
