*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #c7c7ca 0%, #f09f0a 100%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.outer{
    background-image: url(./image/background2.png);
    background-size:contain;
    position: relative;
    height: 1000px;
    width:2200px;
    border: none;
    top: 7.5vh;
    margin: auto;
    background-repeat:repeat-x;
    box-shadow: 5px 5px 100px grey;
    position: relative;
    overflow: hidden;
}
#bird{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 500px;
    z-index: 1;
}
#block1{
    display: inline-block;
    background-image: url(image/block.jpg);
    background-position: center;
    position: relative;
    width:100px;
    height: 100%;
    left: -200px;
    background-size: contain;
}
#block2{
    display: inline-block;
    background-image: url(image/block.jpg);
    background-position: center;
    position: relative;
    width: 100px;
    height: 100%;
    left:-400px;
    background-size: contain;
}
#btn{
    position: absolute;
    width: 200px;
    height: 88px;
    background-color: rgb(38, 163, 24);
    color: white;
    font-size: 50px;
    z-index: 1;
    left:250px;
    border: transparent;
}
#btn:hover{
    background-color:transparent;
    box-shadow:3px 5px 100px grey;
    border: 5px solid white;
}
#hole1{
    background-image: url(image/hole.png);
    background-position: center;
    position: relative;
    top: 200px;
    height: 300px;
    width: 100px;
    background-size:cover;
    background-repeat: no-repeat;
}
#hole2{
    background-image: url(image/hole.png);
    background-position: center;
    position: relative;
    top: 200px;
    height: 300px;
    width: 100px;
    background-size:cover;
    background-repeat: no-repeat;
}
#replay{
    position: absolute;
    width: 200px;
    height: 88px;
    background-color: rgb(38, 163, 24);
    color: white;
    font-size: 50px;
    z-index: 1;
    left:0px;
    border: transparent;
    visibility: hidden;
}
#replay:hover{
    background-color:transparent;
    box-shadow:3px 5px 100px grey;
    border: 5px solid white;
}
